Noah Van Wagenen <noav@itu.dk> OfficialChutney <noav@itu.dk>
Andreas John-Holaus <andjo@itu.dk> UngBalle2501 <andjo@itu.dk>
Freja Skakke Jørgensen <frsj@itu.dk> frxsj <frsj@itu.dk>
Anna Rasmussen <annar@itu.dk> annanassen <annar@itu.dk>
Camilla Frøkjær Jørgensen <cfjo@itu.dk> cfjo <cfjo@itu.dk>
Ditte Astof Hansen <diah@itu.dk> diahitu <diah@itu.dk>
Jed Anang <bujagotbeats@gmail.com> bujagotbeats-art bujagotbeats@gmail.com>
Camille Larsen <hocl@itu.dk> cam1212cam <hocl@itu.dk>
Philip Bay Quorning <philip.quorning@live.com> Quorning-DK <philip.quorning@live.com>
Alfred Damgaard <alfd@itu.dk> gilbert400 <alfd@itu.dk>
Alfred Damgaard <alfd@itu.dk> alfredoed <alfredspostkasse@gmail.com>